<nav>
  <div class="nav-wrapper blue lighten-2 ">
    {{#if isLoggedIn}}
      <a href="/dashboard" class="brand-logo" style="padding-left: 15px;"><i
          class="material-icons"
        >track_changes</i>Busily</a>
    {{else}}
      <a href="/" class="brand-logo" style="padding-left: 15px;"><i
          class="material-icons"
        >track_changes</i>Busily</a>
    {{/if}}

    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#if isLoggedIn}}
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/logout">Logout</a></li>
      {{/if}}
    </ul>
  </div>
</nav>
